html,
body {
	background-color: #fff;
	padding: 15px ;
}

/*公共部分*/

.pageSize {
	/*width: 1100px;*/
	margin: auto;
}

/*头部*/
.header_bottom{
	height: 71px;
}
.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	min-width: 1100px;
	height: 72px;
	background-color: #fff;
	border-bottom: 2px solid #fbce00;
	z-index: 9999;
}

@keyframes bianse{
	0% {
		background-color: #fff;
	}
	100% {
		font-size: 40px;
		background-color: rgba(137, 190, 243, 0.1);
	}
}
@-webkit-keyframes bian{
	from{
		background-color: #fff;
	}
	to{
		background-color: rgba(137, 190, 243, 0.1);
	}
}

.nav {
	position: relative;
	background-color: #fff;
	height: 70px;
	-webkit-animation: bianse 1s infinite;
	animation: bianse 1s infinite;
}

.nav>li {
	float: left;
	display: block;
	height: 70px;
	font-size: 16px;
	color: #8b8b8b;
	/* border-right: 1px solid #fff; */
}
.nav>li>a {
	display: block;
	height: 70px;
	line-height: 70px;
	width:120px;
	text-align: center;;
	color: #4f4f4f;
	transition-duration: 0.2s;
	transition-property: background-color,color;
}
.nav>li>a:hover {
	color: #facd00;
	cursor: hand;
	font-size: 20px;
}
.nav .active a{
	color: #facd00;
	animation: da 2s infinite;
}

@keyframes da{
	from{
		font-size: 16px;
	}
	50%{
		text-shadow: 40px -20px 1px rgb(243, 115, 115);
	}
	to{
		font-size: 25px;
	}
}